<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Escolha uma opção: </h1>
        <button onclick="window.location.href = 'Relatorios.html';">Relatórios</button>
        <button onclick="window.location.href = 'Cadastros.html';">Cadastros</button>
        <button onclick="window.location.href = 'gerenciarTecnicos.html';">Tecnicos</button>
        <button onclick="window.location.href = 'gerenciarPecas.html';">Pecas</button>
        <button onclick="window.location.href = 'gerenciarConsertos.html';">Consertos</button>
</html>
